# SQL Project Jupyter Notebook
by Brandon Matsumoto

https://www.loom.com/share/e44362a21fc343738eaf223bac5346ed, https://www.loom.com/share/29358c9b6169417da469daeaae6f13e0, https://www.loom.com/share/0ea7b03e51a24ec6b21644eb5f26066b

https://github.com/BrandonMatsumoto/SQL-Project-HBOMax-Analysis

In [4]:
import requests, re
from bs4 import BeautifulSoup as soup
from typing import NamedTuple
movies = []
class Movie(NamedTuple):
    name:str
    year:int
    imdb_rating:str
for i in range(40):
    offset = (i-1) * 50
    print("page" + str(i))
    print("-"*40)
    start = soup(requests.get('https://reelgood.com/source/hbo_max?offset='+str(offset)).text, 'html.parser')
    links = [f"https://reelgood.com{i['href']}" for i in start.find_all('a') if re.findall('^/movie/', i['href'])]
    new_results = [soup(requests.get(i).text, 'html.parser') for i in links]
    for x in range(len(new_results)):
        if x % 2 == 0:
            print("result"+str(x))
            movie_temp = new_results[x].find("h1")
            movie_name = movie_temp.text
            IMDB_temp = new_results[x].find("span","css-xmin1q ey4ir3j3")
            movie_IMDB = IMDB_temp.text
            year_temp = new_results[x].find("a","css-10wrqt0",href=re.compile(r"year"))
            movie_year = year_temp.text
            movies.append([movie_name, movie_year, movie_IMDB])
        else:
            continue

In [ ]:
movies

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="HOST",
  user="USERNAME",
  password="PASSWORD",
  database="DATABASE"
)


mycursor = mydb.cursor()

sql = "INSERT INTO movies (movieName, movieYear, IMDBrating) VALUES (%s,%s,%s)"

mycursor.executemany(sql,movies)
mydb.commit()

In [ ]:
import sqlalchemy
import pymysql
%load_ext sql

In [10]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

5 Exploratory questions
Are there data entries that are missing information?
Are there any duplicate entries or movies with the same name?
What is the average rating and stdev?
What are the average ratings per year?
How many movies are available from each decade?

Primary Question
What movies should be removed/have less resources allocated to streaming them or movies should be given more resources
    What are the top 10 and bottom 10 movies? These will be the candidates for removal/reduced resouces or increased resources

Are there data entries that are missing information?
This will give us insight into any data that is missing and should be either removed or taken into consideration.

In [31]:
%%sql
SELECT *
FROM movies
WHERE moviename IS NULL OR movieYear IS NULL OR IMDBrating IS NULL

 * mysql://admin:***@sql-project.cxtlpugkoxht.us-east-1.rds.amazonaws.com/sql-project
0 rows affected.

[]

There are no data entries where there is missing information

Are there any duplicate entries or movies with the same name?
Similarly to missing data, this can be used to clean up data or to double check for wrongly entered data

In [32]:
%%sql
SELECT a.*
FROM movies a
JOIN (
    SELECT movieName, movieYear, IMDBrating, COUNT(*)
    FROM movies
    GROUP BY movieName, movieYear, IMDBrating
    HAVING COUNT(*) > 1) b
ON a.movieName = b.movieName
    AND a.movieYear = b.movieYear
    AND a.IMDBrating = b.IMDBrating
ORDER BY a.movieName

 * mysql://admin:***@sql-project.cxtlpugkoxht.us-east-1.rds.amazonaws.com/sql-project
72 rows affected.

[(22, 'A Nightmare on Elm Street', 1984, 7.5),
 (58, 'A Nightmare on Elm Street', 1984, 7.5),
 (61, 'Batman: Under the Red Hood', 2010, 8.1),
 (25, 'Batman: Under the Red Hood', 2010, 8.1),
 (48, 'Bicycle Thieves', 1948, 8.3),
 (12, 'Bicycle Thieves', 1948, 8.3),
 (11, 'Castle in the Sky', 1986, 8.0),
 (47, 'Castle in the Sky', 1986, 8.0),
 (43, 'City Lights', 1931, 8.5),
 (7, 'City Lights', 1931, 8.5),
 (53, 'Diabolique', 1955, 8.0),
 (17, 'Diabolique', 1955, 8.0),
 (44, 'Dog Day Afternoon', 1975, 8.0),
 (8, 'Dog Day Afternoon', 1975, 8.0),
 (26, 'Fanny and Alexander', 1982, 8.1),
 (62, 'Fanny and Alexander', 1982, 8.1),
 (4, "Howl's Moving Castle", 2004, 8.2),
 (40, "Howl's Moving Castle", 2004, 8.2),
 (20, 'Ikiru', 1952, 8.3),
 (56, 'Ikiru', 1952, 8.3),
 (57, 'Justice League: The Flashpoint Paradox', 2013, 8.1),
 (21, 'Justice League: The Flashpoint Paradox', 2013, 8.1),
 (29, 'King Kong', 1933, 7.9),
 (65, 'King Kong', 1933, 7.9),
 (6, 'Modern Times', 1936, 8.5),
 (42, 'Modern Times', 1936, 8.5),
 (5, 'My Neighbor Totoro', 1988, 8.2),
 (41, 'My Neighbor Totoro', 1988, 8.2),
 (50, 'Persona', 1966, 8.1),
 (14, 'Persona', 1966, 8.1),
 (66, 'Pulp Fiction', 1994, 8.9),
 (30, 'Pulp Fiction', 1994, 8.9),
 (9, 'Rashomon', 1950, 8.2),
 (45, 'Rashomon', 1950, 8.2),
 (37, 'Se7en', 1995, 8.6),
 (1, 'Se7en', 1995, 8.6),
 (3, 'Seven Samurai', 1954, 8.6),
 (39, 'Seven Samurai', 1954, 8.6),
 (16, 'Solaris', 1972, 8.1),
 (52, 'Solaris', 1972, 8.1),
 (2, 'Spirited Away', 2003, 8.6),
 (38, 'Spirited Away', 2003, 8.6),
 (67, 'The Battle of Algiers', 1966, 8.1),
 (31, 'The Battle of Algiers', 1966, 8.1),
 (54, 'The Dark Knight', 2008, 9.0),
 (18, 'The Dark Knight', 2008, 9.0),
 (33, 'The Lord of the Rings: The Fellowship of the Ring', 2001, 8.8),
 (69, 'The Lord of the Rings: The Fellowship of the Ring', 2001, 8.8),
 (49, 'The Maltese Falcon', 1941, 8.0),
 (13, 'The Maltese Falcon', 1941, 8.0),
 (68, 'The Matrix', 1999, 8.7),
 (32, 'The Matrix', 1999, 8.7),
 (64, 'The Philadelphia Story', 1940, 7.9),
 (28, 'The Philadelphia Story', 1940, 7.9),
 (35, 'The Secret World of Arrietty', 2010, 7.6),
 (71, 'The Secret World of Arrietty', 2010, 7.6),
 (10, 'The Seventh Seal', 1957, 8.2),
 (46, 'The Seventh Seal', 1957, 8.2),
 (27, 'The Wages of Fear', 1953, 8.1),
 (63, 'The Wages of Fear', 1953, 8.1),
 (23, 'Three Colors: Blue', 1993, 7.9),
 (59, 'Three Colors: Blue', 1993, 7.9),
 (51, 'Three Colors: Red', 1994, 8.1),
 (15, 'Three Colors: Red', 1994, 8.1),
 (70, 'Throne of Blood', 1957, 8.1),
 (34, 'Throne of Blood', 1957, 8.1),
 (24, 'Wild Strawberries', 1957, 8.2),
 (60, 'Wild Strawberries', 1957, 8.2),
 (55, 'Yojimbo', 1961, 8.2),
 (19, 'Yojimbo', 1961, 8.2),
 (72, 'Z', 1969, 8.3),
 (36, 'Z', 1969, 8.3)]

There are roughly 72 rows of duplicate inputs, which should be removed in order to give more accurate analysis of the data.

What is the max, min, average st.dev of ratings? How are movies being rated, is the scale 0-10? This can give a reference for what the ratings mean relative to other movies.

In [35]:
%%sql
SELECT 
    ROUND(AVG(IMDBrating),2) AS avg_rating,
    MAX(IMDBrating) AS max_rating,
    MIN(IMDBrating) AS min_rating,
    ROUND(STDDEV(IMDBrating),2) AS stdev_rating
FROM movies

 * mysql://admin:***@sql-project.cxtlpugkoxht.us-east-1.rds.amazonaws.com/sql-project
1 rows affected.

[(6.9, 9.0, 2.7, 0.99)]

Most ratings are roughly 6-8 / 10, showing that it is more weighted towards the upper end of the scale. There are also no ratings less than 2.7 meaning that the scale is more realistically a 1-8.

What is the average rating per year? This can show if there is a bias towards certain years or if movies from certain years are deemed better

In [42]:
%%sql
SELECT ROUND(AVG(IMDBrating),2), movieYear
FROM movies
GROUP BY movieYear
ORDER BY movieYear

 * mysql://admin:***@sql-project.cxtlpugkoxht.us-east-1.rds.amazonaws.com/sql-project
103 rows affected.

[(6.5, 1915),
 (7.1, 1916),
 (7.6, 1917),
 (7.55, 1918),
 (6.7, 1919),
 (7.85, 1921),
 (7.63, 1922),
 (7.5, 1923),
 (8.1, 1925),
 (7.25, 1927),
 (7.93, 1928),
 (7.8, 1929),
 (7.83, 1931),
 (7.3, 1932),
 (7.29, 1933),
 (7.2, 1934),
 (7.68, 1935),
 (7.57, 1936),
 (7.43, 1937),
 (7.62, 1938),
 (7.87, 1939),
 (7.68, 1940),
 (7.62, 1941),
 (7.42, 1942),
 (7.65, 1943),
 (7.1, 1944),
 (7.4, 1945),
 (7.85, 1946),
 (7.62, 1947),
 (7.68, 1948),
 (7.38, 1949),
 (7.68, 1950),
 (7.53, 1951),
 (8.12, 1952),
 (7.93, 1953),
 (7.83, 1954),
 (7.47, 1955),
 (7.24, 1956),
 (7.93, 1957),
 (7.61, 1958),
 (7.78, 1959),
 (7.34, 1960),
 (7.97, 1961),
 (7.64, 1962),
 (7.32, 1963),
 (7.55, 1964),
 (7.52, 1965),
 (7.43, 1966),
 (7.4, 1967),
 (7.56, 1968),
 (7.78, 1969),
 (6.78, 1970),
 (7.08, 1971),
 (7.6, 1972),
 (7.33, 1973),
 (7.41, 1974),
 (7.73, 1975),
 (7.14, 1976),
 (7.18, 1977),
 (7.0, 1978),
 (7.18, 1979),
 (7.04, 1980),
 (7.09, 1981),
 (7.02, 1982),
 (6.38, 1983),
 (6.82, 1984),
 (6.8, 1985),
 (6.74, 1986),
 (6.71, 1987),
 (6.71, 1988),
 (6.87, 1989),
 (6.4, 1990),
 (6.56, 1991),
 (7.06, 1992),
 (6.73, 1993),
 (6.66, 1994),
 (6.95, 1995),
 (6.82, 1996),
 (6.36, 1997),
 (6.42, 1998),
 (6.92, 1999),
 (6.57, 2000),
 (6.85, 2001),
 (6.44, 2002),
 (6.81, 2003),
 (7.05, 2004),
 (6.32, 2005),
 (6.49, 2006),
 (6.54, 2007),
 (6.83, 2008),
 (6.84, 2009),
 (6.66, 2010),
 (6.58, 2011),
 (6.38, 2012),
 (7.0, 2013),
 (6.45, 2014),
 (6.96, 2015),
 (6.47, 2016),
 (7.01, 2017),
 (6.98, 2018),
 (6.73, 2019),
 (6.57, 2020),
 (6.43, 2021)]

The average per year is very similar throughout the whole list with few outliers such as 1952, where the average was roughly 8/10 showing little bias towards certain years

How many movies are in each decade? This can give insight into the distribution of films available on HBOMax

In [41]:
%%sql
SELECT count(*) AS count, concat(decade, '-', decade + 9) AS year
FROM (SELECT floor(movieYear / 10) * 10 AS decade
      FROM movies) t
GROUP BY decade
ORDER BY decade

 * mysql://admin:***@sql-project.cxtlpugkoxht.us-east-1.rds.amazonaws.com/sql-project
12 rows affected.

[(7, '1910-1919'),
 (16, '1920-1929'),
 (45, '1930-1939'),
 (50, '1940-1949'),
 (80, '1950-1959'),
 (95, '1960-1969'),
 (98, '1970-1979'),
 (156, '1980-1989'),
 (229, '1990-1999'),
 (320, '2000-2009'),
 (369, '2010-2019'),
 (74, '2020-2029')]

Most of the movies are found between 1980 and 2010, increasing as time goes on. The dip in count from 2010-2019 to 2020-2029 is easily explained as we are only in 2021, and no movies have been released from 2022 onwards

What are the lowest ranking movies?

In [60]:
%%sql
SELECT *
FROM (
SELECT 
    ROW_NUMBER() OVER (
        ORDER BY IMDBrating
    ) AS row_num,
    movieName,
    movieYear,
    IMDBrating
FROM movies
) AS ranking
WHERE row_num <= 10

 * mysql://admin:***@sql-project.cxtlpugkoxht.us-east-1.rds.amazonaws.com/sql-project
10 rows affected.

[(1, 'Cats', 2019, 2.7),
 (2, 'Jaws: The Revenge', 1987, 3.0),
 (3, 'Troll 2', 1990, 3.0),
 (4, 'Black Christmas', 2019, 3.4),
 (5, 'Fifty Shades of Black', 2016, 3.5),
 (6, 'Home Alone: The Holiday Heist', 2012, 3.5),
 (7, 'Police Academy: Mission to Moscow', 1994, 3.6),
 (8, 'Mortal Kombat: Annihilation', 1997, 3.7),
 (9, 'Jaws 3-D', 1983, 3.7),
 (10, 'The Flintstones in Viva Rock Vegas', 2000, 3.7)]

What are the highest ranking movies? These should be given more resources

In [62]:
%%sql
SELECT *
FROM (
SELECT 
    ROW_NUMBER() OVER (
        ORDER BY IMDBrating DESC
    ) AS row_num,
    movieName,
    movieYear,
    IMDBrating
FROM movies
) AS ranking
WHERE row_num <= 10

 * mysql://admin:***@sql-project.cxtlpugkoxht.us-east-1.rds.amazonaws.com/sql-project
10 rows affected.

[(1, 'The Dark Knight', 2008, 9.0),
 (2, 'The Dark Knight', 2008, 9.0),
 (3, 'Pulp Fiction', 1994, 8.9),
 (4, 'Pulp Fiction', 1994, 8.9),
 (5, 'The Lord of the Rings: The Return of the King', 2003, 8.9),
 (6, 'The Lord of the Rings: The Fellowship of the Ring', 2001, 8.8),
 (7, 'The Lord of the Rings: The Fellowship of the Ring', 2001, 8.8),
 (8, 'The Matrix', 1999, 8.7),
 (9, 'The Matrix', 1999, 8.7),
 (10, 'The Lord of the Rings: The Two Towers', 2002, 8.7)]

Based on the two previous queries, it is clear that there are films with terrible ratings that should be either removed or have decreased resources for streaming them, while some very popular movies such as the Lord of the Rings series, the Matrix and the Dark Knight should have increased resources to match their popularity. However it is worth considering that some individuals intend to watch badly rated movies, but as these are most likely a minority, the bottom 10 movies should most liklely just have decreased resources, instead of removing them entirely.

In [3]:
pip install R

SyntaxError: invalid syntax (<ipython-input-3-a9d53fff12b8>, line 1)